POSTGRES_PASSWORD=replace-with-a-long-random-alphanumeric-password
FLEETFLOW_ADMIN_PIN=replace-with-4-to-12-digits
FLEETFLOW_SESSION_SECRET=replace-with-a-long-random-secret
FLEETFLOW_BIND_ADDRESS=127.0.0.1
FLEETFLOW_COOKIE_SECURE=false
FLEETFLOW_TRUST_PROXY=false
FLEETFLOW_PORT=3035
FLEETFLOW_APP_VERSION=0.1.0
FLEETFLOW_DEPLOYED_AT=
FLEETFLOW_BACKUP_DESTINATION=
